{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EleveId</th>
                <th>Semaine</th>
                <th>ActiPrev</th>
                <th>ActiRea</th>
                <th>Commentaire</th>
                <th>CompeMiseEnEouvre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.eleveId }}</td>
                <td>{{ entreprise.semaine }}</td>
                <td>{{ entreprise.actiPrev }}</td>
                <td>{{ entreprise.actiRea }}</td>
                <td>{{ entreprise.commentaire }}</td>
                <td>{{ entreprise.compeMiseEnEouvre }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}">Create new</a>
{% endblock %}
